.section02 {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 800px;
    margin:0;
    padding:0;
    width: 100%;
    background: linear-gradient(360deg, #16134f, #000000);
  }
  .section02 h1{
    color: #fff;
    font-size: 5em;
    letter-spacing: .15em;
    padding-bottom: 3%;
  }
 .section02 .projectCard{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.45);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    transition: all 0.3s ease-in-out;
    border-radius: 15px;
    overflow: hidden;
    background-size: contain;
    min-height: 600px;
  }
  .section02 .projectCard .projectPicture{
    transition: all 0.3s ease-in-out;
  }
  .gallery {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cardContainer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 90vh;
    min-height: 600px;
    overflow: hidden;
    perspective: 1000px;
  }
  .section02 .galleryItem1{
    opacity: .25;
    right:93%;
    transform: rotateY(-90deg);
  }
  .galleryItem2{
    opacity: .8;
    z-index: 1;
    right:68%;
    transform: rotateY(-90deg);
  }
  .galleryItem3{
    opacity: 1;
    z-index: 2;
    right:34%;
  }
  .galleryItem4{
    opacity: .8;
    z-index: 1;
    right:0%;
  }
  .galleryItem5{
    opacity: .25;
    z-index: 0;
    right:-25%;   
  }
  .section02 .galleryItem6, .section02 .galleryItem7, .section02 .galleryItem8{
    opacity: 0;
    z-index: -5;
    transform: translateZ(900px);
    display: none;
  }
  /* change font sizes */
  .section02 .galleryItem1, .section02 .galleryItem5{
    transform: translateZ(-600px);
  }
  .section02 .galleryItem2, .section02 .galleryItem4{
    transform: translateZ(-330px);
  }
  .section02 .galleryItem3{
  }

  .whiteArrow{
    color: #fff;
    opacity: .9;
  }
  .leftArrowBox{
    position: relative;
    display: flex;
    justify-content: right;
    width: 5%;
    height: auto;
    transition:  0.5s;
  }
  .fa-arrow-left {
    transition:  0.5s;
  }
  .rightArrowBox{
    position: relative;
    display: flex;
    justify-content: left;
    width: 5%;
    height: auto;
    transition:  0.5s;
  }
  .fa-arrow-right {
    transition:  0.5s;
  }

  .leftArrowBox:hover .fa-arrow-left {
    transform: translateX(-15px);
    transition:  0.5s;
  }
  .rightArrowBox:hover .fa-arrow-right {
    transform: translateX(15px);
    transition: 0.5s;
  }
  .projectPicture{
    height: auto;
    width: auto;
    position: relative;
    object-fit: cover;
  }
  .projectPicture img{
    height: auto;
    width: 100%;
    padding: 2%;
    border-radius: 15px;
  }
  .projectInfo{
    display: flex;
    position: relative;
    text-align: center;
    color:#000000;
    font-family: 'Poppins', sans-serif;
    height: auto;
    width: auto;
    overflow: auto;
    font-weight: 500;
    padding: 5%;
    transition: all .0s ease-in-out;
    margin-bottom: 2rem;
    font-size: 1.25rem;
  }
  .galleryItem{
    transition: all .3s ease-in-out;
    text-align: center;
    height: 72vh;
    width: 24vw;
    font-size: 1.5rem;
  }

  .galleryItem3:hover{
    height: 90vh;
    width: 60vw;
    transition: all .3s ease-in-out;
    right:10%;
  }
  .galleryItem3:hover .projectPicture{
    height: auto;
    width: auto;
  }

  .galleryItem3:hover .projectInfo{
    font-size: 1.45rem;
    padding: 2%;
    padding-top: 0;
    padding-bottom:0;
  }
  .galleryItem3:hover h2{
    padding-top:0;
  }
  .galleryItem3 h2{
    padding-top:1%;
  }
  .galleryItem3:hover .projectPicture img{
    border-radius: 30px;
    transition: all .3s ease-in-out;
  }
  
  .section02 .galleryItem h2{
    transition: all .3s ease-in-out;
    font-size: 1.5rem;
  }

  .projectCard a{
    position: absolute;
    color: #000;
    bottom: .12rem;
    text-decoration: underline;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .1em;
    font-weight: 700;
  }
  .projectCard p{
    height: auto;
    margin-bottom: 2%;
    overflow: auto;
  }


  @media all and (max-width: 500px) {
    .section02 h1{
      font-size: 4em;
    }
  }
  @media all and (max-width: 1100px) {
    .section02 .galleryItem1{
      display:none;
    }
    .section02 .galleryItem5{
      display:none;
    }
    .section02 .galleryItem{
      height: 70vh;
      width: 50vw;
    }
    .section02 .galleryItem2{
      right:50%;
     
    }
    .section02 .galleryItem4{
      right:-15%;
      
    }
    .section02 .galleryItem3{
      right:18%;
      
    }
    .galleryItem3:hover .projectPicture img{
      border-radius: 15px;
    }
    .galleryItem3:hover{
      width: 75vw;
      height: 89vh;
      right:1.5%;
    }
    .projectInfo{
      padding:5%;
    }

    
  }
  @media all and (max-width: 600px) {

    .galleryItem3:hover .projectPicture img{
      border-radius: 15px;
    }
    .galleryItem3:hover .projectInfo{
      font-size: 1.25rem;
      padding: 1%;
    }
    .galleryItem3:hover{
      right:2%;
    }
  }