.section02 {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    min-height: 1000px;
    width: auto;
    background: linear-gradient(360deg, #16134f, #000000);
  }
  .section02 h1{
    color: #fff;
    font-size: 5em;
    letter-spacing: .15em;
    padding-bottom: 3%;
  }
 .section02 .projectCard{
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.45);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    transition: all 0.3s ease-in-out;
    border-radius: 15px;
    background-size: contain;
  }
  .section02 .projectCard .projectPicture{
    transition: all 0.3s ease-in-out;
  }
  .gallery {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .projectCard {
    position: absolute;
    display: flex;
    flex-direction: column;
    font-size: 1.1em;
    overflow: hidden;
  }
  .cardContainer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 70vh;
    min-height: 700px;
  }
  .galleryItem1{
    left: 15%;
    opacity: .4;
    height: 40.5vh;
    min-height: 300px;
    width: 13.5vw;   
    transform: translateX(-50%);
  }
  .galleryItem2, .galleryItem4{
    opacity: .5;
    z-index: 1;
    height: 54vh;
    min-height: 450px;
    width: 18vw;
  }
  .galleryItem2{
    left: 30%;
    opacity: .6;
    transform: translateX(-50%);
  }
  .galleryItem3{
    left: 50%;
    opacity: 1;
    z-index: 2;
    transform: translateX(-50%);
    height: 72vh;
    min-height: 600px;
    width: 24vw;
  }
  .galleryItem4{
    left: 70%;
    opacity: .6;
    transform: translateX(-50%);
  }
  .galleryItem5{
    left: 85%;
    opacity: .4;
    height: 40.5vh;
    min-height: 300px;
    width: 13.5vw; 
    transform: translateX(-50%);
  }
  .section02 .galleryItem6, .section02 .galleryItem7{
    display: none;
  }
  /* change font sizes */
  .section02 .galleryItem1, .section02 .galleryItem5{
    font-size: .84rem;
  }
  .section02 .galleryItem2, .section02 .galleryItem4{
    font-size: 1.125rem;
  }
  .section02 .galleryItem3{
    font-size: 1.5rem;
  }

  .whiteArrow{
    color: #fff;
    opacity: .9;
  }
  .leftArrowBox{
    position: relative;
    display: flex;
    justify-content: right;
    width: 5%;
    height: auto;
    transition:  0.5s;
  }
  .fa-arrow-left {
    transition:  0.5s;
  }
  .rightArrowBox{
    position: relative;
    display: flex;
    justify-content: left;
    width: 5%;
    height: auto;
    transition:  0.5s;
  }
  .fa-arrow-right {
    transition:  0.5s;
  }

  .leftArrowBox:hover .fa-arrow-left {
    transform: translateX(-15px);
    transition:  0.5s;
  }
  .rightArrowBox:hover .fa-arrow-right {
    transform: translateX(15px);
    transition: 0.5s;
  }
  .projectPicture{
    height: auto;
    width: auto;
    position: relative;
    object-fit: cover;
  }
  .projectPicture img{
    height: auto;
    width: 100%;
    padding: 2%;
    border-radius: 15px;
  }
  .projectInfo{
    display: flex;
    padding: 5%;
    position: relative;
    text-align: center;
    color:#000000;
    font-family: 'Poppins', sans-serif;
    height: auto;
    width: auto;
    overflow: hidden;
    font-weight: 500;
  }
  .galleryItem{
    transition: all .3s ease-in-out;
    text-align: center;
  }

  .galleryItem3:hover{
    height: 89vh;
    width: 60vw;
    transition: all .3s ease-in-out;
  }
  .galleryItem3:hover .projectPicture{
    height: auto;
    width: auto;
  }
  .galleryItem3:hover .projectInfo{
    font-size: 1.5rem;
    padding: 1%;
  }
  .galleryItem3:hover h2{
    padding-top:1%;
  }
  .galleryItem3 h2{
    padding-top:1%;
  }
  .projectInfo{
    padding: 1%;
    overflow: auto;
    transition: all .0s ease-in-out;
    margin-bottom: 2rem;
  }
  .galleryItem3:hover .projectPicture img{
    border-radius: 30px;
    transition: all .3s ease-in-out;
  }
  
  .section02 .galleryItem1 h2, .section02 .galleryItem5 h2{
    top:4%;
    font-size: .84rem;
    transition: all .3s ease-in-out;
  }
  .section02 .galleryItem2 h2, .section02 .galleryItem4 h2{
    top:2%;
    transition: all .3s ease-in-out;
    font-size: 1.125rem;
  }
  .section02 .galleryItem3 h2{
    transition: all .3s ease-in-out;
    font-size: 1.5rem;
  }

  .projectCard a{
    position: absolute;
    color: #000;
    bottom: .12rem;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .1em;
    font-weight: 700;
  }


  @media all and (max-width: 500px) {
    .section02 h1{
      font-size: 4em;
    }
  }
  @media all and (max-width: 1100px) {
    .section02 .galleryItem1{
      display:none;
    }
    .section02 .galleryItem5{
      display:none;
    }
    .section02 .galleryItem2{
      height: 52.5vh;
      width: 37.5vw;
    }
    .section02 .galleryItem4{
      height: 52.5vh;
      width: 37.5vw;
    }
    .section02 .galleryItem3{
      height: 70vh;
      width: 50vw;
    }
    .galleryItem3:hover .projectPicture img{
      border-radius: 15px;
    }
    .galleryItem3:hover{
      width: 75vw;
      height: 89vh;
    }

    
  }
  @media all and (max-width: 600px) {
    .section02 .galleryItem1{
      display:none;
    }
    .section02 .galleryItem5{
      display:none;
    }
    .section02 .galleryItem2{
      font-size: .9375rem;
      height: 52.5vh;
      width: 52.5vw;
    }
    .section02 .galleryItem4{
      font-size: .9375rem;
      height: 52.5vh;
      width: 52.5vw;
    }
    .section02 .galleryItem3{
      padding: 1%;
      font-size: 1.25rem;
      height: 70vh;
      width: 70vw;
    }
    .galleryItem3:hover .projectPicture img{
      border-radius: 15px;
    }
    .galleryItem3:hover .projectInfo{
      font-size: 1.25rem;
      padding: 1%;
    }
  }