.section03{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(360deg, #000, #16134f);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
 
}
.section03 > .hireMe span{
  bottom: 5vh;
}
.section03 > .hireMe{
  margin-top: 5vh;
}
.section03 h1{
    position: relative;
    color: #fff;
    font-size: 4.5em;
    letter-spacing: .15em;
  }
  .section03 p{
    position: relative;
    text-align: center;
    color: #fff;
    font-size: 1em;
    letter-spacing: .15em;
    width:75%;
    height: auto;
    max-height: 75%;
    padding:3%;
    margin-bottom: 5vh;
    overflow: auto;
  }

  @media all and (max-width: 800px) {
    .section03 p{
      font-size: .9em;
      width:85%;
      padding:3%
    }
  }
  @media all and (max-width: 500px) {
    .section03 p{
      font-size: .85em;
      width:90%;
    }
    .section03 .hireMe{
      height: 2%;
      margin-top:2%;
    }
  }
